body {
  background-color: #f5f5f5;
}
/* Opcional: etiquetas de formulario */
label.MuiFormLabel-root {
  font-weight: 500;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
